$yellow: #fffa19;

@mixin margenes($top,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color: $yellow;
    margin-top: 50px;
    @include margenes(50px,0px);
}
footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
   @include margenes(10px,0px );
}
.card-hotel{
    flex: 1 200px;
    @include margenes(10px,0px );
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
    background-color: rgb(24, 35, 41);
   
}
.footer-adress-icon{
padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}